<!DOCTYPE html>
<html>
<head>
<title>Gallery</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
<div class="container" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; width: 100%;">
    <h1 data-en="Visit Ethiopia" data-am="ኢትዮጵያን ጎብኙ">Visit Ethiopia</h1>

    <nav>
    <a href="/">Home</a>
    <a href="/destinations">Destinations</a>
    <a href="/culture">Culture</a>
    <a href="/guide">Travel Guide</a>
    <a href="/gallery">Gallery</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contact</a>
    </nav>

    <select id="language" onchange="changeLanguage()">
    <option value="en">English</option>
    <option value="am">አማርኛ</option>
    </select>
</div>
</header>

<section class="gallery">
<img src="images/lalibela.jpg">
<img src="images/simien.jpg">
<img src="images/danakil.jpg">
</section>

</body>
</html>