<!DOCTYPE html>
<html>
<head>
<title>Gallery</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
<h1>Photo Gallery</h1>
</header>

<section class="gallery">
<img src="images/lalibela.jpg">
<img src="images/simien.jpg">
<img src="images/danakil.jpg">
</section>

</body>
</html>